.circle {
  border: 10px solid #f7054b;
  height: 30rem;
  width: 25rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}

.leftSide {
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.rightSide {
  width: 50%;
  padding-right: 30%;
}

.rightSide img {
  background-color: red;
}

.para {
  width: 90%;
  margin-top: 5%;
  font-size: 1.2rem;
  line-height: 2;
}

.btnSec {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.downBtn {
  all: unset;
  width: 10rem;
  height: 3rem;
  background-color: #f7054b;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 200;
}

.contactBtn {
  all: unset;
  width: 10rem;
  height: 3rem;
  border: 2px solid #f7054b;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.contactBtn:hover {
  background-color: #f7054b;
}

.circle {
  margin-left: 25%;
  margin-top: 10%;
}
