@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Prata&display=swap");

.label {
  color: #f7054b;
}

.head {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 2rem;
  font-size: 2rem;
}
